<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>{{user.firstName + ' ' + user.lastName}}</ion-list-header>
        <ion-note>{{user.email}}</ion-note>

        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let p of appPages; let i = index"
        >
          <ion-item
            routerDirection="root"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <app-icon slot="start" [name]="p.icon"></app-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <!-- logout button -->
    <app-footer>
      <ion-menu-toggle autoHide="false" body>
        <ion-item button (click)="logout()" detail="false">
          <app-icon slot="start" name="log-out-outline"></app-icon>
          <app-label> Log out </app-label>
        </ion-item>
      </ion-menu-toggle>
    </app-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
