.description-text {
  margin: 5px 0 0 0;
}

.price {
  margin: 5px 0;
  color: grey;
  font-size: small;
}

.date {
  margin: 5px 0;
  color: grey;
  font-size: small;
}

.icon-container {
  font-size: medium;
}
